.root {
}
/*
.font {
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.2em;
  border-radius: 50%;

  &:focus {
    @mixin a11y-focus;
  }
}
*/
