.header-settings {
  position: relative;

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.2em;
    border-radius: 50%;

    &:focus {
      @mixin a11y-focus;
    }
  }

  &__panel {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(calc(100% + var(--space))) translateX(var(--space));
    background-color: var(--c-white);
    box-shadow: 0 0 4px 0 rgba(60, 64, 67, 0.3);
    border-radius: var(--border-radius);
  }

  &__input {
    width: 100%;
    background-color: var(--c-white);
    border: 1px solid var(--c-border);
    padding: 0.3em 0.5em;
    border-radius: 5px;
    &:focus {
      @mixin a11y-focus;
    }
  }
}
