.root {
  padding: 0 var(--space-grid);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  font-family: var(--font-mono);
  font-weight: 999;
}

.titleDesktop {
  display: block;
}

.titleMobile {
  display: none;
}

.save {
  margin-right: var(--space-grid-big);
}

.ai {
  margin-left: auto;
  margin-right: var(--space-grid-big);
}

.view {
}

.settings {
  margin-left: var(--space-grid);
}

@mixin mobile {
  .titleDesktop {
    display: none;
  }

  .titleMobile {
    display: block;
  }

  .ai {
    margin-left: auto;
    margin-right: 0;
  }

  .save {
    margin-right: var(--space-grid);
  }
}
