.header {
  padding: 0 var(--space-grid);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__title {
    font-family: var(--font-mono);
    font-weight: 999;
  }

  &__save {
    margin-left: auto;
    margin-right: var(--space-grid-big);
  }

  &__settings {
    margin-left: var(--space-grid);
  }
}
