.header-view {
  display: flex;
  border-radius: var(--border-radius);
  border: 0.5px solid var(--c-border);

  &__icon {
    display: block;
    color: var(--c-p);
    font-size: 1rem;
  }

  &__button {
    &:first-child {
      border-bottom-left-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
    }

    &:last-child {
      border-bottom-right-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    cursor: pointer;
    border: 0.5px solid var(--c-border-dark);
    padding: 0.6em 0.8em;

    &:focus {
      outline: none;
      border-color: var(--c-border-dark);
    }

    &--active {
      background-color: var(--c-bkg-dark);
      box-shadow: inset 0 0 4px 0 rgba(60, 64, 67, 0.2);
    }
  }
}
