.footer {
  padding: 0 var(--space-grid);
  display: flex;
  align-items: stretch;

  @mixin mobile {
    flex-direction: column;
    justify-content: center;
  }

  &__path {
    font-size: var(--fs-small);
  }

  &__nav {
    margin-left: auto;

    @mixin mobile {
      margin-left: 0;
      justify-content: center;
    }
  }
}
