.root {
  width: 100%;
  background-color: var(--c-bkg-light);
  border: 1px solid var(--c-border);
  padding: 0.3em 0.5em;
  border-radius: 5px;
  color: var(--c-p);

  &:focus {
    @mixin a11y-focus;
  }
}
