.optionList + .sectionTitle,
.sectionTitle + .sectionTitle {
  margin-top: var(--space-grid-big);
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: var(--space);
  margin-top: var(--space);
}

.option {
}

.optionListAdd {
  font-size: var(--fs-small);
}

.translationModelOptionContent {
  display: flex;
  gap: var(--space);

  p {
    margin-top: 0.5rem;
    font-size: var(--fs-xsmall);
  }
}
