.root {
  display: flex;
  align-items: center;
  padding: var(--space);
  gap: var(--space);
  border-radius: var(--border-radius);
  border: 2px solid var(--c-border-light);
  cursor: pointer;

  &:has(input[type='radio']:checked) {
    border-color: var(--c-primary);
    background-color: var(--c-primary-bkg);
  }
}

.inputWrapper {
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
}

.visualInput {
  color: var(--c-border-light);
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid currentColor;
  position: relative;

  &:after {
    content: '';
    inset: 0;
    position: absolute;
    background-color: currentColor;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    scale: 1.5;
    opacity: 0;
  }
}

.input:checked + .visualInput {
  color: var(--c-primary);

  &:after {
    opacity: 1;
  }
}

.input:focus + .visualInput {
  color: var(--c-primary);
}

.input:disabled + .visualInput {
  opacity: 0.5;
}

.about {
}

.aboutTitle {
}

.cardLink {
  margin-top: 0.5em;
  font-size: var(--fs-xsmall);
}

.controls {
  margin-left: auto;
}

.controlsInstalled {
  display: flex;
  gap: var(--space-half);
  align-items: center;
}
.controlsInstalledSize {
  font-size: var(--fs-xssmall);
  text-align: right;
  margin-top: 0.25em;
}

.iconLoaded {
  color: var(--c-primary);
}

.downloadProgress {
  position: relative;
  padding: 0.2em 1em;
  font-size: 0.6rem;
  border-radius: 500px;
  overflow: hidden;
  border: 1px solid var(--c-primary);
  background-color: #fff;
  margin-top: 0.5rem;
}

.downloadProgressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: var(--c-primary);
  color: #fff;
  padding: 0.2em 1em;
  z-index: 5;
  overflow: hidden;
}

.downloadProgressFile {
  position: relative;
}
