:root {
  --c-white: #faf6f5;
  --c-p: #333;
  --c-bkg: #f6f6f6;
  --c-bkg-dark: #eaeaea;
  --c-bkg-extra-dark: #d9d9d9;
  --c-bkg-light: #fff;
  --c-shadow: #000;
  --c-primary: #106672;
  --c-primary-dark: #00575f;
  --c-border: rgb(205, 205, 205);
  --c-border-dark: rgb(143, 143, 143);
  --c-border-light: rgb(221, 220, 220);
  --c-feedback: #5480cb;
  --c-feedback-error: #722121;
  --c-feedback-success: #206920;
}
