.editor-new {
  display: flex;
  align-items: stretch;

  &__button {
    border: 2px dashed var(--c-border-dark);
    padding: var(--space-grid) var(--space-grid-big);
    margin: var(--space);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fs-big);
    opacity: 0.6;
    transition: opacity 200ms;
    will-change: opacity;
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
      @mixin a11y-focus;
    }
  }

  &__icon {
    margin-bottom: var(--space);
    font-size: 2.5em;
    color: var(--c-border-dark);
  }

  &__spacer {
    display: flex;
    align-items: center;
    padding: var(--space-grid);
  }
}
