.editor {
  display: flex;

  &__column {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }

  &__editor {
    overflow: auto;
    padding: var(--space-grid-half);
    margin: var(--space-grid-half) var(--space-grid) var(--space-grid)
      var(--space-grid);
    height: calc(100% - (2 * var(--space-grid)));
    width: calc(100% - (2 * var(--space-grid)));
    max-width: 70vh;

    &--html {
      padding: var(--space-grid-big);
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      transition: background-color 200ms;
      will-change: background-color;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &:focus,
    &[data-focus='true'] {
      border: 0;
      outline: none;

      &::-webkit-scrollbar-thumb {
        background-color: var(--c-border-dark);
      }
    }
  }

  &__new {
    margin: 0 auto;
    align-self: center;
  }
}
