.root {
  display: flex;
  align-items: center;
  justify-content: center;

  @mixin mobile {
    flex-direction: column;
  }
}

.button {
  border: 2px dashed var(--c-border-dark);
  padding: var(--space-grid) var(--space-grid-big);
  margin: var(--space);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-big);

  @mixin mobile {
    font-size: var(--fs);
  }

  opacity: 0.6;
  transition: opacity 200ms;
  will-change: opacity;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
    @mixin a11y-focus;
  }
}

.icon {
  margin-bottom: var(--space);
  font-size: 2.5em;

  @mixin mobile {
    margin-bottom: calc(var(--space) / 2);
    font-size: 2em;
  }

  color: var(--c-border-dark);
}

.spacer {
  display: flex;
  align-items: center;
  padding: var(--space-grid);
}
