.editor {
  display: flex;

  &__column {
    flex: 1 1 50%;
  }

  &__editor {
    height: calc(100% - var(--space-grid));
    overflow: auto;
    padding: var(--space-grid-half);
    margin: var(--space-grid-half);
    width: calc(100% - var(--space-grid));

    &:focus,
    &[data-focus='true'] {
      border: 0;
      outline: none;
      @mixin a11y-focus;
    }
  }
}
