.main {
  display: flex;

  &__editor {
    width: 100%;
  }

  &__error {
    align-self: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 2px dashed var(--c-border);
    padding: var(--space-grid);
    border-radius: var(--border-radius);
  }

  &__loader {
    align-self: center;
    margin: 0 auto;
    font-size: 4vmin;
    color: var(--c-primary);
  }
}
