.root {
  display: flex;
}

.editor {
  justify-content: center;
  width: 100%;
}

.error {
  align-self: center;
  margin: 0 auto;
  max-width: 100%;
  width: 500px;
}

.error__inner {
  margin: 0 var(--space-grid-half);
  text-align: center;
  border: 2px dashed var(--c-border);
  padding: var(--space-grid);
  border-radius: var(--border-radius);
}

.loader {
  align-self: center;
  margin: 0 auto;
  font-size: 4vmin;
  color: var(--c-primary);
  width: 100%;

  &::after {
    margin: 0 auto;
  }
}
