.editor-html {
  position: relative;
  display: flex;
  flex-direction: column;

  &__saved {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: var(--fs-small);
    color: var(--c-feedback-success);
    font-weight: 700;
    opacity: 0;
    transition: opacity 200ms;
    will-change: opacity;

    &[aria-hidden='false'] {
      opacity: 1;
    }
  }

  &__editor {
    height: 100%;

    .mce-content-body {
      height: calc(100% - var(--space-grid));
      overflow: auto;
      padding: var(--space-grid-half);
      margin: var(--space-grid-half);

      &:focus {
        border: 0;
        outline: none;
        @mixin a11y-focus;
      }
    }
  }
}
