.editor-markup {
  position: relative;
  display: flex;
  flex-direction: column;

  &__textarea {
    flex: 1 1 auto;
    border: none;
    background-color: transparent;
    padding: var(--space-grid-half);
    margin: var(--space-grid-half);
    font-family: 'JetBrains Mono', monospace;
    resize: none;

    &:focus {
      border: 0;
      outline: none;
      @mixin a11y-focus;
    }
  }
}
