.notification {
  padding: 0.8em 1em;
  border: 1px solid var(--c-feedback);

  a {
    color: var(--c-feedback);
  }

  border-radius: 4px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--c-feedback);
    opacity: 0.05;
    z-index: 1;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &--type-error {
    border-color: var(--c-feedback-error);
    color: var(--c-feedback-error);

    a {
      color: var(--c-feedback-error);
    }

    &:after {
      background-color: var(--c-feedback-error);
    }
  }

  &--type-success {
    border-color: var(--c-feedback-success);
    color: var(--c-feedback-success);

    a {
      color: var(--c-feedback-success);
    }

    &:after {
      background-color: var(--c-feedback-success);
    }
  }
}
