.shadowbox {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: opacity 0.2s ease-in;
  will-change: opacity;

  &__shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #000;
    cursor: pointer;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--c-bkg-light);
    padding: var(--space-l);
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--c-bkg-light);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2rem;
      background: linear-gradient(
        180deg,
        rgba(189, 189, 189, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      transition: transform 100ms ease-in;
      will-change: transform;
      transform: translateY(0);
      z-index: -2;
    }

    &--shadow {
      &::after {
        transform: translateY(30%);
      }
    }

    &--ios {
      &::after {
        display: none;
      }
    }
  }

  &__title {
    display: flex;
    vertical-align: center;
  }

  &__close {
    font-size: 1.5rem;
  }

  &__box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: calc(100vh - (var(--space-l) * 2));
    width: 900px;
    max-width: calc(100vw - (var(--space-l) * 2));
    background-color: var(--c-bkg-light);
    transition: opacity 0.2s ease-in;
    will-change: transform;
    overflow: auto;
  }

  &--small {
    .shadowbox {
      &__box {
        width: 500px;
      }
    }
  }

  &__content {
    padding: var(--space) var(--space-l) calc(var(--space-l) * 2) var(--space-l);
  }

  &__loader {
    margin: 6vh auto 10vh auto;
    font-size: 2rem;
    width: 2rem;
  }

  &__box,
  &__shadow {
    opacity: 0;
    will-change: opacity;
    transition: all 200ms ease-in-out;
  }

  &__box {
    transform: translateX(-50%) translateY(-30%) scale(0.9);
  }

  &[data-visible='true'] {
    .shadowbox {
      &__box {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
      }

      &__shadow {
        opacity: 0.7;
      }
    }
  }

  &--large {
    .shadowbox__box {
      @media (max-width: 700px) {
        width: 100%;
        max-width: 100%;
        bottom: 0;
        top: 0;
        max-height: 100vh;
        height: auto;
        transform: translateX(-50%) translateY(10%) scale(0.9);
      }
    }

    &[data-visible='true'] {
      .shadowbox__box {
        @media (max-width: 700px) {
          transform: translateX(-50%) translateY(0) scale(1);
        }
      }
    }
  }
}
