.file-menu {
  display: flex;

  &__element {
    margin-right: var(--space);
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      .file-menu__delete {
        opacity: 1;
      }
    }

    &--active {
      font-weight: bold;
    }

    &--tosave {
      &::after {
        background-color: var(--c-primary);
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        content: '';
      }
    }
  }

  &__button {
    cursor: pointer;

    &:focus {
      @mixin a11y-focus;
      outline: none;

      & + .file-menu__delete {
        opacity: 1;
      }
    }
  }

  &__delete {
    width: 1em;
    height: 1em;
    position: relative;
    text-indent: -999px;
    cursor: pointer;
    opacity: 0;
    border-radius: 50%;
    transform: scale(0.8);

    &:focus,
    &:hover {
      outline: none;
      background-color: var(--c-border);
    }

    &:focus {
      opacity: 1;
    }

    &::after,
    &::before {
      content: '';
      display: block;
      width: 1px;
      background-color: currentColor;
      height: 60%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) rotate(45deg);
    }

    &::before {
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
  }
}
