.root {
  background-color: var(--c-bkg-light);
  border: 2px solid var(--c-border-light);
  border-radius: var(--border-radius);
  box-shadow: none;
}

.list {
}

.item {
  & + .item {
    border-top: 1px solid var(--c-border-light);
  }

  &:nth-of-type(2) {
    border-top: 2px solid var(--c-border-light);
    margin-top: 0.1em;
    //padding-top: 0.25em;
  }

  &:first-of-type .button {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-of-type .button {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  position: relative;
}

.menu {
  position: absolute;
  background-color: var(--c-bkg-light);
  border: 2px solid var(--c-border-light);
  border-radius: var(--border-radius);
  right: 0;
  top: -8px;
  padding: var(--space);
  transform: translateX(calc(100% + var(--space)));
  width: 260px;

  &:after {
    content: '';
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--c-bkg-light);
    border-right: 2px solid var(--c-border-light);
    border-top: 2px solid var(--c-border-light);
    position: absolute;
    left: 0;
    top: 20px;
    rotate: -135deg;
    translate: -60%;
  }

  &.menuLeft {
    right: auto;
    left: 0;
    transform: translateX(calc(-100% - var(--space)));

    &:after {
      left: auto;
      right: 0;
      rotate: 45deg;
      translate: 60%;
    }
  }
}

.button,
.headingIcon {
  font-size: 0.8rem;
  padding: 1em;
  outline: none;
}

.headingIcon {
  font-size: 1rem;
  padding: 0.7em;
  display: block;
}
