.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    background-color: var(--c-bkg-light);
    box-shadow: 0 1px 7px 0 rgba(60, 64, 67, 0.2);
    height: 4rem;
    position: relative;
    z-index: 10;
  }

  &__editor {
    height: calc(100vh - 8rem);
    box-shadow: 0 1px 7px 0 rgba(60, 64, 67, 0.2);
    position: relative;
  }

  &__footer {
    height: 4rem;
    background-color: var(--c-bkg-dark);
  }
}
