.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    height: 4rem;
    position: relative;
    z-index: 20;
  }

  &__main {
    height: calc(100vh - 7rem);
    box-shadow: 0 1px 4px 0 rgba(60, 64, 67, 0.1);
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -2px;
      height: 4px;
      background-color: var(--c-bkg);
    }
  }

  &__footer {
    height: 3rem;
    background-color: var(--c-bkg-dark);
    z-index: 4;
  }

  @mixin mobile {
    height: auto;
    min-height: 100vh;

    &__main {
      height: calc(100vh - 8.2rem);
      min-height: auto;
    }

    &__footer {
      margin-top: auto;
      height: 4.2rem;
    }
  }
}
