<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name='robots' content='index, follow' />
  <link rel='apple-touch-icon' sizes='57x57' href='/assets/static/favicon/apple-icon-57x57.png'>
  <link rel='apple-touch-icon' sizes='60x60' href='/assets/static/favicon/apple-icon-60x60.png'>
  <link rel='apple-touch-icon' sizes='72x72' href='/assets/static/favicon/apple-icon-72x72.png'>
  <link rel='apple-touch-icon' sizes='76x76' href='/assets/static/favicon/apple-icon-76x76.png'>
  <link rel='apple-touch-icon' sizes='114x114' href='/assets/static/favicon/apple-icon-114x114.png'>
  <link rel='apple-touch-icon' sizes='120x120' href='/assets/static/favicon/apple-icon-120x120.png'>
  <link rel='apple-touch-icon' sizes='144x144' href='/assets/static/favicon/apple-icon-144x144.png'>
  <link rel='apple-touch-icon' sizes='152x152' href='/assets/static/favicon/apple-icon-152x152.png'>
  <link rel='apple-touch-icon' sizes='180x180' href='/assets/static/favicon/apple-icon-180x180.png'>
  <link rel='icon' type='image/png' sizes='192x192' href='/assets/static/favicon/android-icon-192x192.png'>
  <link rel='icon' type='image/png' sizes='32x32' href='/assets/static/favicon/favicon-32x32.png'>
  <link rel='icon' type='image/png' sizes='96x96' href='/assets/static/favicon/favicon-96x96.png'>
  <link rel='icon' type='image/png' sizes='16x16' href='/assets/static/favicon/favicon-16x16.png'>
  <meta name='msapplication-TileImage' content='/assets/static/favicon/ms-icon-144x144.png'>

  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name='description'
        content='A Markdown Editor PWA'>
  <meta property='og:image' content='/assets/static/facebook.png'>
  <meta property='og:title' content='<%= htmlWebpackPlugin.options.title %>'>
  <meta property='og:description'
        content='A Markdown Editor PWA'>
  <meta property='og:locale' content='en_US'>
  <meta property='og:type' content='website'>
  <meta name='twitter:title' content='<%= htmlWebpackPlugin.options.title %>'>
  <meta name='twitter:description'
        content='TA Markdown Editor PWA'>
  <meta name='twitter:image' content='/assets/static/twitter.png'>
  <meta name='twitter:card' content='summary_large_image'>
</head>

<body>
<div id='app'></div>
<div id='shadowbox'></div>
</body>

</html>
