@define-mixin spinner $size: 1em, $border: 0.08em solid currentColor,
  $duration: 0.65s, $background: transparent {
  :global {
    background-color: transparent;
    border: $border;
    border-radius: 50%;
    border-top-color: $background;
    border-right-color: $background;
    font-size: $size;
    width: $size;
    height: $size;
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    animation: spinner $duration infinite linear;
  }
}
